[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-flask = "*"
pytest-sugar = "*"
flake8 = "*"
pytest-cov = "*"

[packages]
flask = "*"
python-dotenv = "*"
decouple = "*"
python-decouple = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
